<main>
  <h1 class="lg-heading align-center">
    Contact Me!
  </h1>
  <div class="info-boxes">
    <div id="info-box">
      <span class="text-secondary">Email: </span> <a href="mailto:pblack67@comcast.net">pblack67@comcast.net</a>
      <hr class="red-border"> <span class="text-secondary">Phone: </span> (847) 331-7813
    </div>
  </div>
</main>