<div class="container " id="login-container">
    <div class="form-container sign-in-container">
        <form action="#" id="login-form">
            <h1><span>Wel</span>come!</h1>
            <h1>Log In</h1>
            <input type="email" id="login-email" placeholder="Email" />
            <select class="custom-select custom-select-lg mb-3" id="login-role">
                <option value="referee">Referee</option>
                <option value="admin">Admin</option>
            </select>
            <button id="sign-in-button">Log In</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/index.js"></script>