
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<section id="showcase">
    <div class="container">
        <img src="../public/img/referee.jpg" alt="">
        <h1>Welcome</h1>
        <p>Calling all referees, umpires and judges! Don't let old technology hold you back by looking no
            further than Whistle for your newest complete assigning solution.</p>
</section>

</div>
<script>
    var open = document.getElementById('hamburger');
    var changeIcon = true;

    open.addEventListener("click", function () {

        var overlay = document.querySelector('.overlay');
        var nav = document.querySelector('nav');
        var icon = document.querySelector('.menu-toggle i');

        overlay.classList.toggle("menu-open");
        nav.classList.toggle("menu-open");

        if (changeIcon) {
            icon.classList.remove("fa-bars");
            icon.classList.add("fa-times");

            changeIcon = false;
        }
        else {
            icon.classList.remove("fa-times");
            icon.classList.add("fa-bars");
            changeIcon = true;
        }
    });

</script>