<style>
    button {
        border-radius: 20px;
        border: 1px solid whitesmoke;
        background-color: transparent;
        color: red;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
        padding: 10px 40px;
    }

    button:hover {
        color: blue;
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(65, 65, 64, 0.5)), center no-repeat;
    }

    input {
        background-color: white;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    #container1 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(65, 65, 64, 0.5)), center no-repeat;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 450px;
        max-width: 100%;
        min-height: 480px;
        transform: translateY(100rem);
        animation: slideIn .7s forwards;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .social-container {
        margin: 20px 0;
    }

    span {
        color: red;
    }
</style>

<div class="container " id="container1">
    <div class="form-container sign-in-container">
        <form action="#">
            <h1><span>Wel</span>come!</h1>
            <h1>Log In</h1>
            <input type="email" id="email" placeholder="Email" />
            <select class="custom-select custom-select-lg mb-3" id="element2">
                <option value="referee">Referee</option>
                <option value="admin">Admin</option>
            </select>
            <button id="sign-in">Log In</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/index.js"></script>