<h1>Games Assigned</h1>
{{#each games}}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Game</h5>
                <h5 class="card-text">{{schoolName}}</h5>
                <h5 class="card-text">{{sportName}}</h5>
                <h5 class="card-text">{{gameTime}}</h5>
                <h5 class="card-text">{{numberOfReferees}}</h5>
            </div>
        </div>
    </div>
</div>
{{/each}}