<style>
  #showcase h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  #showcase p,
  li {
    font-size: 20px;
  }

  }
</style>

<div id="showcase">
  <h1>Referee</h1>
  <ul>
    {{#each referees}}
    <li>{{firstName}} {{lastName}}</li>
    {{/each}}
  </ul>
</div>